{template "content","header"}
<div class="com-container">
	{if $top_parentid ==48}
	<div class="cms-g">
		<div class="am-hide-sm-only am-u-md-3 am-u-lg-3">
			<div class="com-nav-left">
				<h1><em>{php @session_start(); echo $_SESSION['catname'];}</em><i>chanpinzhongxin</i></h1>
				{if $top_parentid}
				<ul>
					{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
					{loop $data $r}

					<li {if $catid==$r[catid]} class="on" {/if}><a href="{$r[url]}">{$r[catname]}</a></li>
					{/loop}
					{/pc}
				</ul>
				{/if}
			</div>
		</div>

		<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
			<div class="com-nav-title">
				<a href="#doc-oc-demo1" class="font am-show-sm-only" data-am-offcanvas>&#xe68b;</a>
				<span>LED灯具</span>
			</div>

			<div class="com-nav-category">
				<ul>
					<li class="on"><span><a href="#">LED T8灯管</a></span></li>

				</ul>
			</div>

			<div class="content">
				<div class="FocusPic">
					<div id="photo-slide">
						<div class="changeDiv">
							<ul class="photo-list picbig">
								<!--{php var_dump($r);}-->
								{pc:content action="lists" catid="$catid" num="4" order="id DESC" page="$page"}
								{loop $data $r}
								<div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
									<div class="product-list-item">
										<div class="product-list-item-bj">
											<a href="{$r[url]}"><img src="{$r[thumb]}" /></a>
										</div>
										<div class="product-list-item-title">
											<a href="{$r[url]}" class="f-toe">{$r[title]}</a>
										</div>
									</div>
								</div>
								{/loop}
							</ul>
							<div class="page-list">
								{$pages}
							</div>
							{/PC}
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	{else}
	<div class="cms-g">
		<div class="am-hide-sm-only am-u-md-3 am-u-lg-3">
			<div class="com-nav-left">
				<h1><em>{php @session_start(); echo $_SESSION['catname'];}</em><i>chanpinyingyong</i></h1>
				{if $top_parentid}
				<ul>
					{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
					{loop $data $r}

					<li {if $catid==$r[catid]} class="on" {/if}><a href="{$r[url]}">{$r[catname]}</a></li>
					{/loop}
					{/pc}
				</ul>
				{/if}
			</div>
		</div>

		<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
			<div class="com-nav-title">
				<a href="#doc-oc-demo1" class="font am-show-sm-only" data-am-offcanvas>&#xe68b;</a>
				<span>照明案例</span>
			</div>

			<div class="am-u-sm-12 am-u-md-9 am-u-lg-12">
				<div class="case-list">
					{pc:content action="lists" catid="50" num="4" order="id DESC" page="$page"}
					{loop $data $r}
					<div class="am-u-sm-6 am-u-md-4 am-u-lg-3" >
						<div class="case-list-item">
							<a href="{$r[url]}"><img src="{$r[thumb]}" style="width: 140px;height: 100px"/></a>
							<span>{$r[title]}</span>
						</div>
					</div>
					{/loop}
					{/pc}
				</div>
				<div class="page-list">
					{$pages}
				</div>
			</div>
		</div>
	</div>
	{/if}
	</div>
	{template "content","footer"}
		</body>
		</html>