{template "content","header"}
<script src="{BS_PATH}js/easyzoom.js"></script>
<div class="com-container">
	{if $top_parentid ==48}
	<div class="cms-g">
		<div class="am-hide-sm-only am-u-md-3 am-u-lg-3">
			<div class="com-nav-left">
				<h1><em>{php @session_start(); echo $_SESSION['catname'];}</em><i>chanpinzhongxin</i></h1>
				{if $top_parentid}
				<ul>
					{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
					{loop $data $r}
					<li><a href="{$r[url]}">{$r[catname]}</a></li>
					{/loop}
					{/pc}
				</ul>
				{/if}
			</div>
		</div>

		<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
			<div class="com-nav-title">
				<a href="#doc-oc-demo1" class="font am-show-sm-only" data-am-offcanvas>&#xe68b;</a>
				<span>LED灯具</span>
				<ol class="com-position am-show-md-up">
					<li><a href="#">首页</a></li>
					<li><a href="#">产品中心</a></li>
					<li><a href="#">LED T8灯泡</a></li>
				</ol>
			</div>
			<div class="product-info">
				<div class="am-u-sm-12 am-u-md-6">
					<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;controlNav&quot;:&quot;thumbnails&quot;}'>
						<ul class="am-slides">
							{pc:content action="lists" catid="$catid" num="4" order="id DESC" page="$page"}
							{loop $pictureurls $pic_k $r}
							<li data-thumb="{$r[url]}">
								<img src="{$r[url]}">
							</li>
							{/loop}
								{/pc}
						</ul>
					</div>
				</div>

			</div>
	         <div>
				{$content}
			</div>
		</div>
	</div>
	{else}
	<div class="cms-g">
		<div class="am-hide-sm-only am-u-md-3 am-u-lg-3">
			<div class="com-nav-left">
				<h1><em>{php @session_start(); echo $_SESSION['catname'];}</em><i>chanpinyingyong</i></h1>
				{if $top_parentid}
				<ul>
					{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
					{loop $data $r}
					<li><a href="{$r[url]}">{$r[catname]}</a></li>
					{/loop}
					{/pc}
				</ul>
				{/if}
			</div>
		</div>

		<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
			<div class="com-nav-title">
				<a href="#doc-oc-demo1" class="font am-show-sm-only" data-am-offcanvas>&#xe68b;</a>
				<span>照明应用</span>
			</div>
			<div class="content">{$content}</div>

			<div class="com-info-page">
				<a href="{$previous_page[url]}">上一篇</a><a href="{$next_page[url]}">下一篇</a>
			</div>
		</div>
			</div>
		</div>
     {/if}
{template "content","footer"}