/*
* @Author: anchen
* @Date:   2017-07-19 14:25:03
* @Last Modified by:   anchen
* @Last Modified time: 2017-07-19 15:24:22
*/
body{
     margin: 0px;
     padding: 0px;
     background-image: url('a.jpg');
     background-size: cover;
}

div{
margin:300px auto ;
width: 300px;
height: 240px;
background-color: rgb(62, 31, 24);
/* 透明 */
opacity: 0.3;
/* border:1px solid red; */
}
table{
    margin:50px  auto;
    position: absolute;
}
p{
top:150px;
position:relative;
margin: 40px;
float: left;
}
button{
    top:150px;
    margin:40px;
    position:relative;

}