/*
* @Author: anchen
* @Date:   2017-07-20 11:39:20
* @Last Modified by:   anchen
* @Last Modified time: 2017-07-20 14:21:59
*/
body{
    margin: 0;
    padding: 0;

}
h1{
    font-size: 30px;
    text-align:center;
    letter-spacing: 15px;
    text-decoration: double underline pink;
}
p{
line-height: 10px;
margin-left:50px;
}
table{
    width: 1000px;
    margin:0 auto;
    border-color: cyan;
}
td,th{
    height: 50px;
    text-align: center;
    letter-spacing:10px;
color: orange;
}
tr:first-child{
    width:100px;
}
.fr{
    margin-left: 20px;
}
p span {
margin-left: 100px;
}
.fr span{
    margin-left: 200px;
}